{ 
    "rois": {
        "source": [
            "https://emdata6-novran.janelia.org/api/node/:master/roisSmoothedDecimated"
          , "cache/blender/crossections"
        ]
      , "ME": {"ids": ["ME(R)"], "sourceIndex": 0}
      , "LO": {"ids": ["LO(R)"], "sourceIndex": 0}
      , "LOP": {"ids": ["LOP(R)"], "sourceIndex": 0}
      , "ME_layers": {"ids": ["{{ innervated_layers|join('", "') }}"], "sourceIndex": 1 }
      , "ME_columns": {"ids": ["{{ innervated_columns|join('", "') }}"], "sourceIndex": 0 }
    }
  , "neurons": { 
        "source": "https://storage.googleapis.com/flyem-optic-lobe/v0.91/segmentation/single-res-meshes"
      , "id": [{{star_neuron}}]
      , "close_neighbors": [{{neighbor_neurons | join(", ")}}]
      , "other_neighbors": [{{other_neurons | join(", ")}}]
      , "group1":  [{{group_neurons[1]  | join(", ")}}]
      , "group2":  [{{group_neurons[2]  | join(", ")}}]
      , "group3":  [{{group_neurons[3]  | join(", ")}}]
      , "group4":  [{{group_neurons[4]  | join(", ")}}]
      , "group5":  [{{group_neurons[5]  | join(", ")}}]
      , "group6":  [{{group_neurons[6]  | join(", ")}}]
      , "group7":  [{{group_neurons[7]  | join(", ")}}]
      , "group8":  [{{group_neurons[8]  | join(", ")}}]
      , "group9":  [{{group_neurons[9]  | join(", ")}}]
      , "group10": [{{group_neurons[10] | join(", ")}}]
      , "group11": [{{group_neurons[11] | join(", ")}}]
      , "group12": [{{group_neurons[12] | join(", ")}}]
      , "group13": [{{group_neurons[13] | join(", ")}}]
      , "group14": [{{group_neurons[14] | join(", ")}}]
      , "group15": [{{group_neurons[15] | join(", ")}}]
      , "group16": [{{group_neurons[16] | join(", ")}}]
      , "group17": [{{group_neurons[17] | join(", ")}}] 
    }
  , "synapses": {
        "source": "https://emdata6-novran.janelia.org/api/node/:master/synapses"
      , "pre": {"neurons": [{{star_neuron}}], "type": "pre", "confidence": 0.5, "radius": 60.0 }
      , "post": {"neurons": [{{star_neuron}}], "type": "post", "confidence": 0.5, "radius": 40.0 }
    }
  , "animation": [ 
        ["setValue", {"meshes": "rois.ME + rois.LO + rois.LOP", "alpha": 0.015}]
      , ["setValue", {"meshes": "rois.ME_columns", "alpha": 0.03}]
      , ["setValue", {"meshes": "rois.ME", "color": "#5D194D"}]
      , ["setValue", {"meshes": "rois.LO", "color": "#7D111D"}]
      , ["setValue", {"meshes": "rois.LOP", "color": "#BA4A5F"}]
      , ["setValue", {"meshes": "rois.ME_columns", "color": "#5D194D"}]
      , ["setValue", {"meshes": "rois.ME_layers", "color": "#5D194D"}]
      , ["setValue", {"meshes": "neurons.id", "color": "#8F8F8F"}]
      , ["setValue", {"meshes": "neurons.close_neighbors", "color": "#8F8F8F"}]
      , ["setValue", {"meshes": "neurons.other_neighbors", "color": "#8F8F8F"}]
      , ["setValue", {"meshes": "neurons.group1", "color": "{{group_colors[0]}}"}]
      , ["setValue", {"meshes": "neurons.group2", "color": "{{group_colors[1]}}"}]
      , ["setValue", {"meshes": "neurons.group3", "color": "{{group_colors[2]}}"}]
      , ["setValue", {"meshes": "neurons.group4", "color": "{{group_colors[3]}}"}]
      , ["setValue", {"meshes": "neurons.group5", "color": "{{group_colors[4]}}"}]
      , ["setValue", {"meshes": "neurons.group6", "color": "{{group_colors[5]}}"}]
      , ["setValue", {"meshes": "neurons.group7", "color": "{{group_colors[6]}}"}]
      , ["setValue", {"meshes": "neurons.group8", "color": "{{group_colors[7]}}"}]
      , ["setValue", {"meshes": "neurons.group9", "color": "{{group_colors[8]}}"}]
      , ["setValue", {"meshes": "neurons.group10", "color": "{{group_colors[9]}}"}]
      , ["setValue", {"meshes": "neurons.group11", "color": "{{group_colors[10]}}"}]
      , ["setValue", {"meshes": "neurons.group12", "color": "{{group_colors[11]}}"}]
      , ["setValue", {"meshes": "neurons.group13", "color": "{{group_colors[12]}}"}]
      , ["setValue", {"meshes": "neurons.group14", "color": "{{group_colors[13]}}"}]
      , ["setValue", {"meshes": "neurons.group15", "color": "{{group_colors[14]}}"}]
      , ["setValue", {"meshes": "neurons.group16", "color": "{{group_colors[15]}}"}]
      , ["setValue", {"meshes": "neurons.group17", "color": "{{group_colors[16]}}"}]
      , ["setValue", {"meshes": "synapses.pre", "color": "#003851"}]
      , ["setValue", {"meshes": "synapses.post", "color": "#683C03"}]
      , ["frameCamera", {"bound": "rois"}]
      , ["orbitCamera", {"axis": "y", "endingRelativeAngle": 45, "duration": 0}]
      , ["orbitCamera", {"axis": "x", "endingRelativeAngle": 5, "duration": 0}]
      , ["label", {"text": "{{neuron_type}} ({{star_neuron}})", "position": [0.05, 0.9], "color": "#8F8F8F", "size": 0.03, "duration": 34.0 } ]
      , ["label", {"text": "ME", "position": [0.6, 0.75], "color": "#5D194D", "size": 0.03, "duration": 3.0 } ]
      , ["label", {"text": "LO", "position": [0.7, 0.15], "color": "#7D111D", "size": 0.03, "duration": 3.0 } ]
      , ["label", {"text": "LOP", "position": [0.37, 0.15], "color": "#BA4A5F", "size": 0.03, "duration": 3.0 } ]
      , ["advanceTime", {"by": 1.0}]
      , ["frameCamera", {"bound": "rois.ME_columns", "scale": 1.05, "duration": 4.0}]
      , ["fade", {"meshes": "rois.LO", "startingAlpha": 0.015, "endingAlpha": 0.0, "duration": 2.0 } ]
      , ["fade", {"meshes": "rois.LOP", "startingAlpha": 0.015, "endingAlpha": 0.0, "duration": 2.0 } ]
      , ["fade", {"meshes": "rois.ME", "startingAlpha": 0.015, "endingAlpha": 0.0, "duration": 2.0 } ]
      , ["advanceTime", {"by": 2.0}]
      , ["label", {"text": "ME columns", "position": [0.05, 0.85], "color": "#5D194D", "size": 0.03, "duration": 10.0 } ]
      , ["advanceTime", {"by": 2.0}]
      , ["orbitCamera", {"localAxis": "y", "endingRelativeAngle": 270, "duration": 6.0}]
      , ["orbitCamera", {"localAxis": "x", "endingRelativeAngle": -14, "duration": 6.0}]
      , ["advanceTime", {"by": 6.0}]
      , ["frameCamera", {"bound": "rois.ME", "scale": 0.8, "duration": 4.0}]
      , ["fade", {"meshes": "rois.ME", "startingAlpha": 0.0, "endingAlpha": 0.015, "duration": 2.0 } ]
      , ["fade", {"meshes": "rois.ME_columns", "startingAlpha": 0.03, "endingAlpha": 0.0, "duration": 2.0 } ]
      , ["advanceTime", {"by": 3.0}]
      , ["fade", {"meshes": "rois.ME_layers", "startingAlpha": 0.0, "endingAlpha": 0.1, "duration": 2.0 } ]
      , ["fade", {"meshes": "rois.ME", "startingAlpha": 0.015, "endingAlpha": 0, "duration": 2.0 } ]
      , ["advanceTime", {"by": 1.0}]
      , ["label", {"text": "ME layers", "position": [0.05, 0.85], "color": "#5D194D", "size": 0.03, "duration": 5.0 } ]
      , ["label", {"text": "1",  "position": [0.05, 0.82], "color": "#5D194D", "size": 0.025, "duration": 5.0 } ]
      , ["label", {"text": "2",  "position": [0.05, 0.79], "color": "#5D194D", "size": 0.025, "duration": 5.0 } ]
      , ["label", {"text": "3",  "position": [0.05, 0.76], "color": "#5D194D", "size": 0.025, "duration": 5.0 } ]
      , ["label", {"text": "4",  "position": [0.05, 0.73], "color": "#5D194D", "size": 0.025, "duration": 5.0 } ]
      , ["label", {"text": "5",  "position": [0.05, 0.7] , "color": "#5D194D", "size": 0.025, "duration": 5.0 } ]
      , ["label", {"text": "6",  "position": [0.05, 0.67], "color": "#5D194D", "size": 0.025, "duration": 5.0 } ]
      , ["label", {"text": "7",  "position": [0.05, 0.64], "color": "#5D194D", "size": 0.025, "duration": 5.0 } ]
      , ["label", {"text": "8",  "position": [0.05, 0.61], "color": "#5D194D", "size": 0.025, "duration": 5.0 } ]
      , ["label", {"text": "9",  "position": [0.05, 0.58], "color": "#5D194D", "size": 0.025, "duration": 5.0 } ]
      , ["label", {"text": "10", "position": [0.05, 0.55], "color": "#5D194D", "size": 0.025, "duration": 5.0 } ]
      , ["advanceTime", {"by": 3.0}]
      , ["fade", {"meshes": "rois.ME", "startingAlpha": 0.0, "endingAlpha": 0.015, "duration": 2.0 } ]
      , ["fade", {"meshes": "rois.ME_layers", "startingAlpha": 0.1, "endingAlpha": 0.0, "duration": 2.0 } ]
      , ["advanceTime", {"by": 2.0}]
      , ["frameCamera", {"bound": "rois.ME_columns", "scale": 0.85, "duration": 4.0}]
      , ["advanceTime", {"by": 2.0}]
      , ["fade", {"meshes": "rois.ME", "startingAlpha": 0.015, "endingAlpha": 0.0, "duration": 2.0 } ]
      , ["advanceTime", {"by": 2.0}]
      , ["label", {"text": "presynaptic sites (n={{pre_count}})", "position": [0.05, 0.85], "color": "#0070A4", "size": 0.03, "duration": 4.0 } ]
      , ["fade", {"meshes": "synapses.pre", "startingAlpha": 0.0, "endingAlpha": 1.0, "duration": 1.0 } ]
      , ["advanceTime", {"by": 1.5}]
      , ["label", {"text": "postsynaptic sites (n={{post_count}})", "position": [0.05, 0.8], "color": "#FA9006", "size": 0.03, "duration": 4.0 } ]
      , ["fade", {"meshes": "synapses.post", "startingAlpha": 0.0, "endingAlpha": 1.0, "duration": 1.0 } ]
      , ["advanceTime", {"by": 2.0}]
      , ["fade", {"meshes": "synapses.pre", "startingAlpha": 1.0, "endingAlpha": 0.0, "duration": 1.0 } ]
      , ["advanceTime", {"by": 1.5}]
      , ["fade", {"meshes": "synapses.post", "startingAlpha": 1.0, "endingAlpha": 0.0, "duration": 1.0 } ]
      , ["advanceTime", {"by": 1.0}]
      , ["orbitCamera", {"localAxis": "x", "endingRelativeAngle": -76, "scale": 1.1, "duration": 4.0 } ]
      , ["advanceTime", {"by": 4.0}]
      , ["label", {"text": "{{neuron_type}} (n={{neuron_count}})", "position": [0.05, 0.9], "color": "#8F8F8F", "size": 0.03, "duration": 21.0 } ]
      , ["fade", {"meshes": "rois.ME", "startingAlpha": 0.0, "endingAlpha": 0.015, "duration": 2.0 } ]
      , ["fade", {"meshes": "neurons.close_neighbors", "startingAlpha": 0.0, "endingAlpha": 1.0, "duration": 3.0, "stagger": "constant" } ]
      , ["advanceTime", {"by": 2.0}]
      , ["frameCamera", {"bound": "rois.ME", "scale": 0.9, "duration": 10.0}]
      , ["advanceTime", {"by": 1.0}]
      , ["fade", {"meshes": "neurons.other_neighbors", "startingAlpha": 0.0, "endingAlpha": 1.0, "duration": 4.0, "stagger": "constant" } ]
      , ["advanceTime", {"by": 4.0}]
      , ["fade", {"meshes": "neurons.group1", "startingAlpha": 0.0, "endingAlpha": 1.0, "duration": 1.0 } ]
      , ["advanceTime", {"by": 1.0}]
      , ["fade", {"meshes": "neurons.group2", "startingAlpha": 0.0, "endingAlpha": 1.0, "duration": 0.75 } ]
      , ["advanceTime", {"by": 0.75}]
      , ["fade", {"meshes": "neurons.group3", "startingAlpha": 0.0, "endingAlpha": 1.0, "duration": 0.75 } ]
      , ["advanceTime", {"by": 0.75}]
      , ["fade", {"meshes": "neurons.group4", "startingAlpha": 0.0, "endingAlpha": 1.0, "duration": 0.5 } ]
      , ["advanceTime", {"by": 0.5}]
      , ["fade", {"meshes": "neurons.group5", "startingAlpha": 0.0, "endingAlpha": 1.0, "duration": 0.5 } ]
      , ["advanceTime", {"by": 0.5}]
      , ["fade", {"meshes": "neurons.group6", "startingAlpha": 0.0, "endingAlpha": 1.0, "duration": 0.5 } ]
      , ["advanceTime", {"by": 0.5}]
      , ["fade", {"meshes": "neurons.group7", "startingAlpha": 0.0, "endingAlpha": 1.0, "duration": 0.5 } ]
      , ["advanceTime", {"by": 0.5}]
      , ["fade", {"meshes": "neurons.group8", "startingAlpha": 0.0, "endingAlpha": 1.0, "duration": 0.5 } ]
      , ["advanceTime", {"by": 0.5}]
      , ["fade", {"meshes": "neurons.group9", "startingAlpha": 0.0, "endingAlpha": 1.0, "duration": 0.5 } ]
      , ["advanceTime", {"by": 0.5}]
      , ["fade", {"meshes": "neurons.group10", "startingAlpha": 0.0, "endingAlpha": 1.0, "duration": 0.4 } ]
      , ["advanceTime", {"by": 0.4}]
      , ["fade", {"meshes": "neurons.group11", "startingAlpha": 0.0, "endingAlpha": 1.0, "duration": 0.4 } ]
      , ["advanceTime", {"by": 0.4}]
      , ["fade", {"meshes": "neurons.group12", "startingAlpha": 0.0, "endingAlpha": 1.0, "duration": 0.3 } ]
      , ["advanceTime", {"by": 0.3}]
      , ["fade", {"meshes": "neurons.group13", "startingAlpha": 0.0, "endingAlpha": 1.0, "duration": 0.3 } ]
      , ["advanceTime", {"by": 0.3}]
      , ["fade", {"meshes": "neurons.group14", "startingAlpha": 0.0, "endingAlpha": 1.0, "duration": 0.3 } ]
      , ["advanceTime", {"by": 0.3}]
      , ["fade", {"meshes": "neurons.group15", "startingAlpha": 0.0, "endingAlpha": 1.0, "duration": 0.25 } ]
      , ["advanceTime", {"by": 0.25}]
      , ["fade", {"meshes": "neurons.group16", "startingAlpha": 0.0, "endingAlpha": 1.0, "duration": 0.25 } ]
      , ["advanceTime", {"by": 0.25}]
      , ["fade", {"meshes": "neurons.group17", "startingAlpha": 0.0, "endingAlpha": 1.0, "duration": 0.25 } ]
      , ["advanceTime", {"by": 0.25}]
      , ["orbitCamera", {"localAxis": "x", "endingRelativeAngle": 90, "scale": 1.15, "duration": 3.0 } ]
      , ["advanceTime", {"by": 3.0}]
    ] 
} 
