<!DOCTYPE html>
<html lang="en">
<head>
    <title>Cell Type Index .:. Cell Type Explorer .:. Connectome-driven neural inventory of a complete visual system</title>
    <script src="styles/jquery-3.7.1.min.js"></script>
    <script src="styles/jquery-ui.min.js"></script>
    <link rel="stylesheet" href="styles/jquery-ui.min.css">
    <link rel="stylesheet" href="styles/chota.min.css">
    <link rel="stylesheet" href="styles/ol_connectome.css">
    <script>
    $(document).ready(function() {
        $(function() {
            var availableTags = {{ available_tags | tojson }};
            $("#menulines").autocomplete({
                source: availableTags,
                select: function(event, ui) {
                    window.location = ui.item.url;
                }
            });
        });
    });
    </script>
</head>
<body>

    <div class="container">
        <nav class="nav">
            <div class="nav-left">
                    <a href="index.html">Home</a>
                    <a class="active" href="cell_types.html">Cell Types</a>
                    <details class="dropdown">
                        <summary>Coverage</summary>
                        <div class=card>
                            <p><a href="scatterplots-ME.html">Spatial Coverage Medulla</a></p>
                            <p><a href="scatterplots-LO.html">Spatial Coverage Lobula</a></p>
                            <p><a href="scatterplots-LOP.html">Spatial Coverage Lobula Plate</a></p>
                        </div>
                    </details>
                    <a href="webpages_glossary.html">Glossary</a>
                    </div>
            <div class="nav-center">
                <a class="brand">Cell Type Catalog</a>
            </div>
            <div class="nav-right">
                <form class="col"><input id="menulines" type="text" placeholder="cell type name" /></form>
                <a href="https://github.com/reiserlab/male-drosophila-visual-system-connectome-code"><img src="https://icongr.am/simple/github.svg?size=32&amp;color=333333" alt="icon"></a>
                <a href="https://www.youtube.com/@ReiserLab"><img src="https://icongr.am/simple/youtube.svg?size=32&amp;color=cc0000" alt="icon"></a>
                <a href="{{neuprint_link}}">neuPrint</a>
            </div>
        </nav>
        <header class="row">
            <div class="col">
                <h1 class="text-center">Male <i>Drosophila</i> Visual System Connectome: Cell Type List</h1>
            </div>
        </header>

       <section>
        {%- for g_name in full_group_names.keys() %}
            {%- if g_name in mylist['main_groups'].values %}
                <div class="row">
                    <div class="col col-{{g_name}}">
                        <h2 id="{{g_name}}">{{ full_group_names[g_name] }}</h2>
                    </div>
                </div>
                <div class="row">
                    {% for idx, row in mylist[mylist['main_groups'] == g_name].reset_index().iterrows() %}
                    <div class="col-2 bg-{{g_name}} card">
                        <a href="{{ row['instance'] }}.html" class="col-{{g_name}} {{row['main_groups']}}">
                        {{ row['type'] }} ({{ row['instance'][-1:] }})
                        </a>
                        {% if idx % 6 == 5 %}</div><div class="row">{% endif%}
                    </div>
                    {% endfor %}
                </div>
            {%- endif %}
        {%- endfor %}
        </section>
    </div>
    <footer class="container">
        <div class="row">
            <div class="col text-center">
                <hr />
                <p><em>Pages Updated {{ formattedDate }}</em> | 
                <em>Source</em>: {{ meta['dataset'] }} with UUID {{ meta['uuid'] }} | 
                <em>Last database edit</em> {{ lastDataBaseEdit }}</p>
            </div>
        </div>
    </footer>
</body>
</html>