<!DOCTYPE html>
<html lang="en">
<head>
    <title>{{ oli.name }} .:. Cell Type Explorer .:. Connectome-driven neural inventory of a complete visual system</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <script src="styles/jquery-3.7.1.min.js"></script>
    <script src="styles/jquery-ui.min.js"></script>
    <link rel="stylesheet" href="styles/jquery-ui.min.css">
    <link rel="stylesheet" href="styles/chota.min.css">
    <link rel="stylesheet" href="styles/ol_connectome.css">
    <script>
    $(document).ready(function() {
        $(function() {
            var availableTags = {{ available_tags | tojson }};
            $("#menulines").autocomplete({
                source: availableTags,
                select: function(event, ui) {
                    window.location = ui.item.url;
                }
            });
        });
    });
    </script>
</head>
<body>

    <div class="container">
        <nav class="nav">
            <div class="nav-left">
                    <a href="index.html">Home</a>
                    <a href="cell_types.html">Cell Types</a>
                    <details class="dropdown">
                        <summary>Coverage</summary>
                        <div class=card>
                            <p><a href="scatterplots-ME.html">Spatial Coverage Medulla</a></p>
                            <p><a href="scatterplots-LO.html">Spatial Coverage Lobula</a></p>
                            <p><a href="scatterplots-LOP.html">Spatial Coverage Lobula Plate</a></p>
                        </div>
                    </details>
                    <a href="webpages_glossary.html">Glossary</a>
                    </div>
            <div class="nav-center">
                <a class="brand">Cell Type Catalog</a>
            </div>
            <div class="nav-right">
                <form class="col"><input id="menulines" type="text" placeholder="cell type name" /></form>
                <a href="https://github.com/reiserlab/male-drosophila-visual-system-connectome-code"><img src="https://icongr.am/simple/github.svg?size=32&amp;color=333333" alt="icon"></a>
                <a href="https://www.youtube.com/@ReiserLab"><img src="https://icongr.am/simple/youtube.svg?size=32&amp;color=cc0000" alt="icon"></a>
                <a href="{{neuprint_link}}">neuPrint</a>
            </div>
        </nav>

        <header class="row">
            <div class="col is-center">
                <h1><a href="{{ neuprint_deep_link }}" class="txt_{{oli.main_group}}">{{ oli.name_html }}</a>, <span class="counter">{{ n_cell_types }}</span></h1>
            </div>
        </header>

        <div class="row">
            <div class="col is-center">
                <div class="main-group-nt-pred">
                    Main group: <span class="txt_{{oli.main_group}}">{{ oli.main_group_name }}</span>;
                    Neurotransmitter consensus prediction: {{ nt_prediction }}
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col">
            <h2 class="pad-left">Mean synapse counts per layer</h2>
            </div>
        </div>
        <div class="row">
            <div class="col-3 text-center pad-left layer-stats-table">{{ lay_stats_LA_html }}</div>
            <div class="col-9 me-stats text-center layer-stats-table">{{ lay_stats_ME_html }}</div>
        </div>
        <div class="row">
            <div class="col-9 text-center pad-left layer-stats-table">{{ lay_stats_LO_html }}</div>
            <div class="ame-stats col-3 text-center layer-stats-table">{{ lay_stats_AME_html }}</div>
        </div>
        <div class="row">
            <div class="col-9 text-center pad-left layer-stats-table">{{ lay_stats_LOP_html }}</div>
            <div class="cb-stats col-3 text-center layer-stats-table">{{ lay_stats_CB_html }}</div>
        </div>

        <div class="row">
            <div class="col">
            <h2 class="pad-left">Neuron visualizations</h2>
            </div>
        </div>
        <div class="row">
            <div class="col-12 col-12-md col-6-lg">
                <div class="threeD_view is-center">
                    <iframe scrolling="no" frameborder="0" src="{{ threeD_image_script }}"></iframe>
                </div>
            </div>
            <div class="col-12 col-12-md col-6-lg">
                <div class="gallery_video is-center">
                    <iframe frameborder="0" style="margin-left:0px; padding:0px;border:0px solid white;" allowfullscreen allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" src="https://www.youtube.com/embed/{{youtube_link}}?autoplay=1&mute=1&loop=1&color=white&controls=1&playsinline=1&vq=hd1080&rel=0&enablejsapi=1&playlist={{youtube_link}}"></iframe>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col">
                <h2 id="CoverageHeader">Population spatial coverage</h2>
            </div>
        </div>

        <div class="row">
            {% for roi_key, roi in filtered_card_data.items() %}
                <div class="col">
                    <div class="card">
                        {% set color = color_mapping_regions[roi['name']] if roi['name'] in color_mapping_regions else '#000000' %}
                        {% set linkdict = {'Medulla': 'scatterplots-ME.html', 'Lobula': 'scatterplots-LO.html', 'Lobula Plate': 'scatterplots-LOP.html'} %}
                        <header><h3 style="color: {{ color }};"><a href="{{ linkdict[roi['name']] }}">{{ roi['name'] }}</a></h3></header>
                        <table class="roi-card striped">
                        <tr>
                        <td class="stat-name">Number of post synapses:</td><td class="stat-val">{{ roi['data']['n_post'] }}</td>
                        </tr>
                        <tr>
                        <td class="stat-name">Number of pre synapses:</td><td class="stat-val">{{ roi['data']['n_pre'] }}</td>
                        </tr>
                        <tr>
                        <td class="stat-name">Number of output connections:</td><td class="stat-val">{{ roi['data']['n_output_conn'] }}</td>
                        </tr>
                        <tr>
                        <td class="stat-name">Coverage factor:</td><td class="stat-val">{{ roi['data']['coverage_factor_trim'] }}</td>
                        </tr>
                        <tr>
                        <td class="stat-name">Columnar completeness:</td><td class="stat-val">{{ roi['data']['col_completeness'] }}</td>
                        </tr>
                        <tr>
                        <td class="stat-name">Area completeness:</td><td class="stat-val">{{ roi['data']['area_completeness'] }}</td>
                        </tr>
                        <tr>
                        <td class="stat-name">Cell size (columns):</td><td class="stat-val">{{ roi['data']['cell_size_cols'] }}</td>
                        </tr>
                        </dl>
                        </table>

                    </div>
                </div>
            {% endfor %}
        </div>
        {% for image_tag in image_tags %}
            <div class="row">
                <div class="col">{{ image_tag }}</div>
            </div>
        {% endfor %}
        <div class="row">
            <div class="col">
                <h2>Optic Lobe Connectivity</h2>
            </div>
        </div>
        <div class="row">
            <div class="col-12 col-12-md col-6-lg connectivity-table connectivity-input">
                <h3 id="inputs">Inputs</h4>
                {% if in_vals_empty %}
                    <p class="text-center">No inputs from the optic lobe</p>
                {% else %}
                    {{ in_styled_html | safe }}
                {% endif %}
            </div>
            <div class="col-12 col-12-md col-6-lg connectivity-table connectivity-output">
                <h3 id="outputs">Outputs</h4>
                {% if out_vals_empty %}
                    <p class="text-center">No outputs to the optic lobe</p>
                {% else %}
                    {{ out_styled_html | safe }}
                {% endif %}
            </div>
        </div>
     </div>
     <footer class="container">
        <div class="row">
            <div class="col text-center">
                <hr />
                <p><em>Pages Updated {{ formattedDate }}</em> |
                <em>Source</em>: {{ meta['dataset'] }} with UUID {{ meta['uuid'] }} |
                <em>Last database edit</em> {{ lastDataBaseEdit }}</p>
            </div>
        </div>
    </footer>
</body>
</html>
