<!DOCTYPE html>
<html lang="en">
<html>
<head>
    <meta charset="UTF-8">
    <title>Cell Type Explorer Glossary</title>
    <link rel="stylesheet" href="styles/chota.min.css">

    <style>
            /* Center the main content and add maximum width */
        body > .container {
            max-width: 1400px; /* or any other max-width you prefer */
            margin-left: auto;
            margin-right: auto;
            padding-left: 1rem; /* This adds some padding within the container */
            padding-right: 1rem; /* This adds some padding within the container */
        }

        body {
            font-family: Arial, sans-serif;
        }

        /* Nested container for glossary content */
            .glossary-content {
                max-width: 1000px;
                margin-left: auto;
                margin-right: auto;
            }

        .nav-right a:link, .nav-right a:visited {
            color: #007bff; /* Blue color for links */
            text-decoration: none; /* Optional: removes underline from links */
        }

        .nav-right a:hover {
            color: #0056b3; /* Darker blue color on hover */
            text-decoration: underline; /* Optional: adds underline on hover */
        }

        .nav-right a:active {
            color: #004299; /* Even darker blue color when the link is clicked */
        }

        .col.is-center h1 {
            margin-top: 20px !important;
            margin-bottom: 0px !important;
            padding-top: 0px !important;
            padding-bottom: 0px !important;
        }

        .col.is-center h2 {
            margin-top: 0px !important;
            margin-bottom: 20px !important;
            padding-top: 0px !important;
            padding-bottom: 0px !important;
        }

        dd {
            margin-bottom: 25px; /* Adds space between glossary items */
        }

        dt.short {
            font-weight: bold;
            display: inline; /* Keeps the abbreviation and explanation on the same line */
            float:left;
            margin-right:20px;
        }


    </style>
</head>
<body>
    <div class="container">
        <nav class="nav">
                <div class="nav-right">
                    <a href="index.html">Home</a>
                    <a href="cell_types.html">Cell Types</a>
                    <a href="webpages_glossary.html">Glossary</a>
                    <a href="https://www.youtube.com/@ReiserLab">YouTube</a>
                    <a href="https://neuprint.janelia.org/?dataset=optic-lobe:v1.0">neuPrint</a>
                </div>
        </nav>

        <div class="glossary-content">

        <header class="row">
            <div class="col">
                <h1 class="is-center"><b>Male <i>Drosophila</i> Visual System Connectome - Cell Type Explorer</b></h1>
                <h2 class="is-center">Glossary</h2>
            </div>
        </header>

            <dl>

            <dt>(cell type)_L</dt>
            <dd>Instance name for cell types with cells that have somas in both hemispheres but synapse 
                    (at least partially) within the right optic lobe. '_L' specifies the left hemisphere soma location.
            </dd>
            
            <dt>(cell type)_R</dt>
            <dd>Instance name for cell types with cells that have somas in both hemispheres but synapse 
                    (at least partially) within the right optic lobe. '_R' specifies the right hemisphere soma location.
            </dd>

            <dt>(cell type)_unclear</dt>
            <dd>Type name for neurons that are not fully decided to belong to a specific (existing) cell type. 
                    This includes for example atypical instances of a type that appear to result from developmental errors or cells that could 
                    not be typed due to insufficient reconstruction quality (mainly some R7 and R8 photoreceptors). The “cell type” often 
                    resembles an existing type name. These neurons are not listed as separate types (no “titular cells”), but mentioned in 
                    the list of  inputs and outputs. Their instance names are (cell type)_unclear_[L|R].
            </dd>

            <dt>(cell type)_TBD</dt>
            <dd>Placeholder names intended to be replaced by systematic names when the full brain reconstruction 
                    is available (used for a few cell types outside the main optic lobe groups such as ascending or central neurons).
            </dd>

            <hr>
            <dt>5HT</dt>
            <dd>serotonin</dd>
            

            <dt>ACh</dt><dd>acetylcholine</dd>

            <dt>AME</dt><dd>Accessory medulla</dd>

            <dt>Area completeness</dt>
	        <dd>The total area (in columns) covered by all cells of the titular cell type when fitting a convex hull around the innervated columns’ coordinates.</dd>
            
            <dt>Cell size</dt>
            <dd>The median number of columns innervated by an individual cell of the cell type, calculated per optic lobe region.</dd>

            <dt>Column</dt>
		    <dd>Anatomical unit (to see how it is derived, see Methods/Column ROIs).</dd>

            <dt>Columnar completeness</dt>
		    <dd>The proportion of all columns of an optic lobe region innervated by the cell type.</dd>

            <dt>Coverage factor</dt>
		    <dd>The mean of the number of cells of the cell type that synapse within an individual column, calculated across all columns innervated after trimming, per optic lobe region. </dd>

            <dt class="short">Dop</dt><dd>dopamine</dd>  

            <dt class="short">GABA</dt><dd>&gamma;-Aminobutyric acid</dd>  

            <dt class="short">Glu</dt><dd>glutamate</dd>  

            <dt class="short">His</dt><dd>histamine</dd>  

            <dt>Inputs</dt>
		    <dd>All pre-synaptic connecting cell types within the optic lobe upstream from the titular cell type. </dd>

            <dt class="short">La</dt><dd>lamina</dd>  

            <dt>LO(n) - Lobula</dt>
            <dd>n = layer number, e.g. LO1 = Lobula layer 1.</dd>

            <dt>LOP(n) - Lobula plate</dt>
            <dd>n = layer number, e.g. LOP1 = Lobula plate layer 1.</dd>

            <dt>ME(n)</dt><dd>Medulla</dd>

            <dt>M(n) - Medulla layers</dt>
            <dd>n = layer number, e.g. M1 = Medulla layer 1.</dd>

            <dt>Number of post synapses (Population spatial coverage)</dt>
		    <dd>The total 'post' synapses of the titular cell type for each optic lobe region.</dd>

            <dt>Number of pre synapses (Population spatial coverage)</dt>
		    <dd>The total 'pre' synapses (t-bars) of the titular cell type for each optic lobe region. 
            (Compare to "Number of output connections")</dd>

            <dt>Number of output connections (Population spatial coverage)</dt>
		    <dd>The total connections downstream from the titular cell type for each optic lobe region. 
                    As one t-bar can have many output connections this number is greater than the "Number of pre synapses".</dd>

            <dt class="short">NT</dt>
		    <dd>Predicted neurotransmitter.</dd>

            <dt class="short">OA</dt><dd>octopamine</dd>  

            <dt>Outputs</dt>
		    <dd>All post-synaptic connecting cell types within the optic lobe downstream from the titular cell type.</dd>

            <dt>Pre median</dt>
		    <dd>Median of presynaptic sites of the titular cell in the optic lobe region and layer (when applicable).</dd>

            <dt>Post median</dt>
		    <dd>Median of postsynaptic sites of the titular cell in the optic lobe region and layer (when applicable).</dd>

            <dt>Type</dt>
		    <dd>Cell type name or instance name for cell types with cells that have somas in both hemispheres that synapse within the right optic lobe. </dd>

            <dt>Synapses</dt>
		    <dd>Total number of synapses between cell types.</dd>

            <dt>%</dt>
		    <dd>Percentage of the total input/output synapses to/from the titular cell type from/to the designated cell type (on row).</dd>

            <dt>% cumu.</dt>
		    <dd>Cumulative percentage of the total input/output synapses to/from the titular cell type from/to the designated cell type (on row).</dd>
            </dl>
        </div>

        <footer class="row">
            <div class="col">
                <hr class="h1-divider">
            </div>
        </footer>

    </div>
</body>
</html>